<a href="https://colab.research.google.com/github/ValentinaQuinteroC/Challenge_TELECOMX1/blob/main/Challenge_TELECOMX1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ðŸ“Œ ExtracciÃ³n

In [437]:
import pandas as pd

In [438]:
datos = pd.read_json('TelecomX_Data.json')

In [439]:
datos.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

# ðŸ”§ TransformaciÃ³n

Se 'abren' los diccionarios generando posteriormente un unico dataframe que contiene todas estas columnas unidas, para posteriormente identificar tipos de datos y requerimiento de ajustes de los mismos.

Se descartan usuarios duplicados y espacios vacÃ­os, los cuales son reemplazados por valores que permitiran posteriormente un analisis matemÃ¡tico

Adicionalmente, las columnas con valores unicamente binarios SI/NO se convierten a 1/0 para faciliar su manipulacion posteriormente

In [440]:
customer_df = pd.json_normalize(datos['customer'])
customer_df

      gender  SeniorCitizen Partner Dependents  tenure
0     Female              0     Yes        Yes       9
1       Male              0      No         No       9
2       Male              0      No         No       4
3       Male              1     Yes         No      13
4     Female              1     Yes         No       3
...      ...            ...     ...        ...     ...
7262  Female              0      No         No      13
7263    Male              0     Yes         No      22
7264    Male              0      No         No       2
7265    Male              0     Yes        Yes      67
7266    Male              0     Yes        Yes      63

[7267 rows x 5 columns]

In [441]:
phone_df = pd.json_normalize(datos['phone'])
phone_df

     PhoneService     MultipleLines
0             Yes                No
1             Yes               Yes
2             Yes                No
3             Yes                No
4             Yes                No
...           ...               ...
7262          Yes                No
7263          Yes               Yes
7264          Yes                No
7265          Yes                No
7266           No  No phone service

[7267 rows x 2 columns]

In [442]:
internet_df = pd.json_normalize(datos['internet'])
internet_df

,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,DSL,No,Yes,No,Yes,Yes,No
1,DSL,No,No,No,No,No,Yes
2,Fiber optic,No,No,Yes,No,No,No
3,Fiber optic,No,Yes,Yes,No,Yes,Yes
4,Fiber optic,No,No,No,Yes,Yes,No
...,...,...,...,...,...,...,...
7262,DSL,Yes,No,No,Yes,No,No
7263,Fiber optic,No,No,No,No,No,Yes
7264,DSL,No,Yes,No,No,No,No
7265,DSL,Yes,No,Yes,Yes,No,Yes
7266,DSL,Yes,Yes,Yes,No,Yes,Yes

In [443]:
account_df = pd.json_normalize(datos['account'])
account_df

,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,One year,Yes,Mailed check,65.60,593.3
1,Month-to-month,No,Mailed check,59.90,542.4
2,Month-to-month,Yes,Electronic check,73.90,280.85
3,Month-to-month,Yes,Electronic check,98.00,1237.85
4,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...
7262,One year,No,Mailed check,55.15,742.9
7263,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,Month-to-month,Yes,Mailed check,50.30,92.75
7265,Two year,No,Mailed check,67.85,4627.65
7266,Two year,No,Electronic check,59.00,3707.6

In [444]:
datos_completos = pd.concat([datos, customer_df, phone_df, internet_df, account_df], axis=1)
datos_completos

,customerID,Churn,customer,phone,internet,account,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '...",Female,0,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Male,0,No,No,9,Yes,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Male,0,No,No,4,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Male,1,Yes,No,13,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Female,1,Yes,No,3,Yes,No,Fiber optic,No,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '...",Female,0,No,No,13,Yes,No,DSL,Yes,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.9
7263,9992-RRAMN,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Male,0,Yes,No,22,Yes,Yes,Fiber optic,No,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,9992-UJOEL,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Male,0,No,No,2,Yes,No,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '...",Male,0,Yes,Yes,67,Yes,No,DSL,Yes,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'No', 'MultipleLines': 'No ph...","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '...",Male,0,Yes,Yes,63,No,No phone service,DSL,Yes,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6

In [445]:
datos_completos = datos_completos.drop(columns = ['customer', 'phone', 'internet', 'account'])
datos_completos

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,No,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,Yes,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.9
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,No,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,Yes,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,Yes,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6

In [446]:
datos_completos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [447]:
import numpy as np

In [448]:
datos_limpios = datos_completos.replace('', np.nan)
datos_limpios['Charges.Total'].isna().sum()

np.int64(0)

In [449]:
(datos_limpios['Charges.Total'] == ' ').sum()

np.int64(11)

In [450]:
datos_limpios['Charges.Total'] = pd.to_numeric(datos_limpios['Charges.Total'], errors='coerce')

In [451]:
datos_limpios['Charges.Total']= datos_limpios['Charges.Total'].astype(np.float64)

In [452]:
datos_limpios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7043 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7256 non-null   float64
dtypes: float64(2), int64(2), object(17)
memory usage: 1.2+ MB

In [453]:
datos_limpios.isnull().sum()

customerID            0
Churn               224
gender                0
SeniorCitizen         0
Partner               0
Dependents            0
tenure                0
PhoneService          0
MultipleLines         0
InternetService       0
OnlineSecurity        0
OnlineBackup          0
DeviceProtection      0
TechSupport           0
StreamingTV           0
StreamingMovies       0
Contract              0
PaperlessBilling      0
PaymentMethod         0
Charges.Monthly       0
Charges.Total        11
dtype: int64

In [454]:
datos_limpios['Churn'].unique()

array(['No', 'Yes', nan], dtype=object)

In [455]:
datos_limpios['customerID'].duplicated().sum()

np.int64(0)

In [456]:
columnas_binarias = ['Churn', 'Partner','Dependents', 'PhoneService','PaperlessBilling']

In [457]:
for col in columnas_binarias:
    datos_limpios[col] = (
        datos_limpios[col]
        .str.strip()
        .str.lower()
        .map({'yes': 1, 'no': 0})
        .astype('Int64')
    )

In [458]:
otras_opciones = ['MultipleLines', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingMovies', 'StreamingTV']

In [459]:
for col in otras_opciones:
    datos_limpios[col] = (
        datos_limpios[col]
        .str.strip()
        .str.lower()
        .apply(lambda x: 1 if x == 'yes' else 0)
    )

In [460]:
pd.set_option('display.max_columns', None)

In [461]:
datos_limpios['Cuentas diarias'] = datos_limpios['Charges.Monthly'] / 30

In [462]:
datos_limpios = datos_limpios.rename(columns={'customerID': 'Identificacion del usuario', 'Churn': 'Continuidad', 'gender': 'GÃ©nero', 'SeniorCitizen' : 'Adulto mayor',
                                              'Partner':'Pareja', 'Dependents':'Dependientes', 'tenure':'Meses de contrato', 'PhoneService': 'Servicio telefÃ³nico',
                                              'MultipleLines': 'Lineas mÃºltiples', 'InternetService':'Servicio de internet', 'OnlineSecurity': 'Seguridad en lÃ­nea', 'OnlineBackup':'Respaldo en lÃ­nea',
                                              'DeviceProtection':'ProtecciÃ³n del dispositivo', 'TechSupport': 'Soporte tÃ©cnico', 'StreamingMovies': 'PelÃ­culas de Streaming', 'Contract': 'Contrato',
                                              'PaperlessBilling': 'Factura electrÃ³nica', 'PaymentMethod': 'MÃ©todo de pago', 'Charges.Monthly': 'Cuentas mensuales', 'Charges.Total': 'Cuenta total'})

In [463]:
datos_limpios

,Identificacion del usuario,Continuidad,GÃ©nero,Adulto mayor,Pareja,Dependientes,Meses de contrato,Servicio telefÃ³nico,Lineas mÃºltiples,Servicio de internet,Seguridad en lÃ­nea,Respaldo en lÃ­nea,ProtecciÃ³n del dispositivo,Soporte tÃ©cnico,StreamingTV,PelÃ­culas de Streaming,Contrato,Factura electrÃ³nica,MÃ©todo de pago,Cuentas mensuales,Cuenta total,Cuentas diarias
0,0002-ORFBO,0,Female,0,1,1,9,1,0,DSL,0,1,0,1,1,0,One year,1,Mailed check,65.60,593.30,2.186667
1,0003-MKNFE,0,Male,0,0,0,9,1,1,DSL,0,0,0,0,0,1,Month-to-month,0,Mailed check,59.90,542.40,1.996667
2,0004-TLHLJ,1,Male,0,0,0,4,1,0,Fiber optic,0,0,1,0,0,0,Month-to-month,1,Electronic check,73.90,280.85,2.463333
3,0011-IGKFF,1,Male,1,1,0,13,1,0,Fiber optic,0,1,1,0,1,1,Month-to-month,1,Electronic check,98.00,1237.85,3.266667
4,0013-EXCHZ,1,Female,1,1,0,3,1,0,Fiber optic,0,0,0,1,1,0,Month-to-month,1,Mailed check,83.90,267.40,2.796667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,0,Female,0,0,0,13,1,0,DSL,1,0,0,1,0,0,One year,0,Mailed check,55.15,742.90,1.838333
7263,9992-RRAMN,1,Male,0,1,0,22,1,1,Fiber optic,0,0,0,0,0,1,Month-to-month,1,Electronic check,85.10,1873.70,2.836667
7264,9992-UJOEL,0,Male,0,0,0,2,1,0,DSL,0,1,0,0,0,0,Month-to-month,1,Mailed check,50.30,92.75,1.676667
7265,9993-LHIEB,0,Male,0,1,1,67,1,0,DSL,1,0,1,1,0,1,Two year,0,Mailed check,67.85,4627.65,2.261667
7266,9995-HOTOH,0,Male,0,1,1,63,0,0,DSL,1,1,1,0,1,1,Two year,0,Electronic check,59.00,3707.60,1.966667

In [464]:
datos_limpios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Identificacion del usuario  7267 non-null   object
 1   Continuidad                 7043 non-null   Int64
 2   GÃ©nero                      7267 non-null   object
 3   Adulto mayor                7267 non-null   int64
 4   Pareja                      7267 non-null   Int64
 5   Dependientes                7267 non-null   Int64
 6   Meses de contrato           7267 non-null   int64
 7   Servicio telefÃ³nico         7267 non-null   Int64
 8   Lineas mÃºltiples            7267 non-null   int64
 9   Servicio de internet        7267 non-null   object
 10  Seguridad en lÃ­nea          7267 non-null   int64
 11  Respaldo en lÃ­nea           7267 non-null   int64
 12  ProtecciÃ³n del dispositivo  7267 non-null   int64
 13  Soporte tÃ©cnico             7267 non-null   int64
 14  StreamingTV                 7267 non-null   int64
 15  PelÃ­culas de Streaming      7267 non-null   int64
 16  Contrato                    7267 non-null   object
 17  Factura electrÃ³nica         7267 non-null   Int64
 18  MÃ©todo de pago              7267 non-null   object
 19  Cuentas mensuales           7267 non-null   float64
 20  Cuenta total                7256 non-null   float64
 21  Cuentas diarias             7267 non-null   float64
dtypes: Int64(5), float64(3), int64(9), object(5)
memory usage: 1.3+ MB

# ðŸ“Š Carga y anÃ¡lisis

In [465]:
datos_limpios.describe()

,Continuidad,Adulto mayor,Pareja,Dependientes,Meses de contrato,Servicio telefÃ³nico,Lineas mÃºltiples,Seguridad en lÃ­nea,Respaldo en lÃ­nea,ProtecciÃ³n del dispositivo,Soporte tÃ©cnico,StreamingTV,PelÃ­culas de Streaming,Factura electrÃ³nica,Cuentas mensuales,Cuenta total,Cuentas diarias
count,7043.0,7267.000000,7267.0,7267.0,7267.000000,7267.0,7267.000000,7267.000000,7267.000000,7267.000000,7267.000000,7267.000000,7267.000000,7267.0,7267.000000,7256.000000,7267.000000
mean,0.26537,0.162653,0.484106,0.300124,32.346498,0.902711,0.421770,0.285950,0.344571,0.342782,0.289528,0.383927,0.387505,0.59323,64.720098,2280.634213,2.157337
std,0.441561,0.369074,0.499782,0.458343,24.571773,0.296371,0.493876,0.451897,0.475261,0.474672,0.453575,0.486374,0.487214,0.491265,30.129572,2268.632997,1.004319
min,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,18.250000,18.800000,0.608333
25%,0.0,0.000000,0.0,0.0,9.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,35.425000,400.225000,1.180833
50%,0.0,0.000000,0.0,0.0,29.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,70.300000,1391.000000,2.343333
75%,1.0,0.000000,1.0,1.0,55.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,89.875000,3785.300000,2.995833
max,1.0,1.000000,1.0,1.0,72.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,118.750000,8684.800000,3.958333

In [470]:
suma = pd.DataFrame(datos_limpios['Continuidad'].value_counts())
suma

             count
Continuidad
0             5174
1             1869

In [466]:
datos_limpios.groupby('Continuidad').sum(numeric_only=True)

,Adulto mayor,Pareja,Dependientes,Meses de contrato,Servicio telefÃ³nico,Lineas mÃºltiples,Seguridad en lÃ­nea,Respaldo en lÃ­nea,ProtecciÃ³n del dispositivo,Soporte tÃ©cnico,StreamingTV,PelÃ­culas de Streaming,Factura electrÃ³nica,Cuentas mensuales,Cuenta total,Cuentas diarias
Continuidad,,,,,,,,,,,,,,,,
0,666,2733,1784,194387,4662,2121,1724,1906,1877,1734,1893,1914,2771,316985.75,13193241.8,10566.191667
1,476,669,326,33603,1699,850,295,523,545,310,814,818,1400,139130.85,2862926.9,4637.695000

# ðŸ“„Informe final